/* MAIN */
.contactMain {
  width: 100%;
  min-height: 100vh;
  background: #000;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 60px 5%;
}

/* WRAPPER */
.contactWrapper {
  width: 100%;
  max-width: 1200px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 60px;
}

/* LEFT */
.contactLeft {
  flex: 1;
  max-width: 550px;
}

/* RIGHT */
.contactRight {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* TEXT */
.smallText {
  color: gold;
  font-size: 2rem;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.heading {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.heading span {
  color: gold;
}

.subText {
  color: white;
  margin: 20px 0;
  line-height: 1.7;
  font-size: 1.2rem;
}

/* INFO */
.contactInfo {
  margin-top: 30px;
}

.infoItem {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
}

.icon {
  color: gold;
  font-size: 18px;
}

/* SOCIAL */
.socialIcons {
  margin-top: 30px;
  display: flex;
  gap: 15px;
}

.socialIcon {
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  color: gold;
}

.socialIcon:hover {
  color: gold;
  transform: scale(1.2);
}
.socialIcons a {
  text-decoration: none;
}

/* FORM */
.formBox {
  width: 100%;
  max-width: 400px;

  background: #111;
  padding: 30px;

  border-radius: 10px;
  border: 1px solid #222;

  display: flex;
  flex-direction: column;
  gap: 15px;

  box-shadow: 0 0 20px rgba(255, 200, 0, 0.08);
}

/* INPUT */
.input {
  padding: 12px;
  background: #0d0d0d;
  border: 1px solid #222;
  color: #fff;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
}

.input::placeholder {
  color: #666;
}

/* TEXTAREA */
.textarea {
  height: 120px;
  padding: 12px;
  background: #0d0d0d;
  border: 1px solid #222;
  color: #fff;
  border-radius: 5px;
  resize: none;
  font-size: 14px;
}

.textarea::placeholder {
  color: #666;
}

/* BUTTON */
.btn {
  margin-top: 10px;
  padding: 12px;

  background: linear-gradient(90deg, gold,gold);
  border: none;
  border-radius: 5px;

  color: black;
  font-weight: bold;
  cursor: pointer;

  transition: 0.3s;
}

.btn:hover {
  opacity: 0.85;
}

/* 🔥 RESPONSIVE */
@media (max-width: 900px) {
  .contactWrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .contactRight {
    width: 100%;
    justify-content: flex-start;
  }

  .formBox {
    max-width: 100%;
  }
}